*.hfst
*.att
*.o
*Makefile
*Makefile.in
src/.deps
src/lexd
tests/feature/*.lexd.*
!tests/feature/*.gold
!tests/feature/Makefile
INSTALL
aclocal.m4
autom4te.cache
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1
